{% extends 'base.html' %}
{% load static %}
{% block title %}Branches | System Admin{% endblock %}
{% block content %}
    
   
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <div class="row">
                                <div class="col-sm-9">
                                    <h3>Manage Clients</h3>
                                </div>
                                <div class="col-sm-3">
                                    {% if perms.operations.add_ticket %}
                                    <div class="text-right">
                                        <button class="btn btn-sm bg-cyan waves-effect"
                                             data-toggle="modal" data-target="#AddModal-{{ form_action }}">
                                               {{form_title}}
                                        </button>
                                    </div>
                                          <!-- modal for adding -->
                                    {% include "partials/_add-form-modal.html"%}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="body table-responsive">
                            <table class="table table-xs table-bordered table-striped table-hover dataTable js-exportable">
                                 <thead>
                                    <tr>
                                        <th>Full Names</th>
                                        <th>Contact</th>
                                        <th>Passport Number</th>
                                        <th>Job</th>
                                        <th>Registered</th>
                                        <th>Registration Fee</th>
                                        <th>Created</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for client in clients %}
                                        <tr>
                                            <td>{{ client.first_name }} {{ client.last_name }}</td>
                                            <td>{{ client.phone }}</td>
                                            <td>{{ client.passport.passport_no }}</td>
                                            <td>{{ client.job }}</td>
                                           <td>
                                                {% if client.registered %}
                                                    <span class="badge bg-green">Yes</span>
                                                {% else %}
                                                    <span class="badge bg-red">No</span>
                                                    {% if perms.home.change_client %}
                                                        <a type="button" href="{% url 'register' client.id %}"
                                                            class="btn btn-xs btn-success waves-effect">
                                                            <i class="material-icons">refresh</i>
                                                        </a>
                                                    {% endif %}
                                                {% endif %}
                                            </td>

                                            <td>
                                                {% if client.reg_fee%}
                                                    <span class="badge bg-green">Paid</span>
                                                {% else %}
                                                    <span class="badge bg-red">Not Paid</span>
                                                    {% if perms.home.change_client %}
                                                        <a type="button" href="{% url 'pay-reg-fee' client.id %}"
                                                            class="btn btn-xs btn-success waves-effect">
                                                            <i class="material-icons">refresh</i>
                                                        </a>
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                            <td>{{ client.created }}</td>
                                           
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
     

{% endblock content %}
{% block js %}
    <script src="{% static 'js/pages/tables/tables.js' %}" ></script>
{% endblock js %}